@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
:root {
  --accent-color-1: #106ef6;
  --accent-color-2: #6310fe;
  --accent-color-1-light: #5a9efc;
  --accent-color-2-light: #9a6bff;
  --accent-color-1-dark: #00142f;
  --accent-color-2-dark: #170042;
  --accent-color-1-white: #e7f0fe;
  --accent-color-2-white: #efe7ff;

}
body {
  min-height: 100vh;
  background-image: url("https://i.ibb.co.com/yfZHQjg/1-BANNER-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Parkinsans", serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
}
div {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Parkinsans", serif;
  color: white;
  justify-items: center;
  text-align: center;
}
div img {
  width: 20%;
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

body {
  animation: blurIn 1s ease-out;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.ibb.co.com/yfZHQjg/1-BANNER-3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: blurIn 1s ease-out;
  z-index: -1;
}