<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slash - Motion Graphics</title>
  <link type="text/css" rel="stylesheet" href="..\assets\css\wip.css">
  <link type="icon" href="..\assets\images\slash.png">
</head>
<body>
  <div>
    <img src="..\assets\images\slash.png" alt="Slash Logo">
    <h1>
      1372Slash
    </h1>
    <h3>
      We Are Here
    </h3>
    <p href="..\index.html">
      Website work on progress <br /> Please be patient or just break the code
    </p>
  </div>
</body>
</html>