<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slash - Motion Graphics</title>
  <link type="text/css" rel="stylesheet" href="..\assets\css\wip.css">
  <link type="icon" href="..\assets\images\slash.png">
  <script type="text/javascript">
    function checkTime() {
      var currentTime = new Date();
      var hours = currentTime.getHours();
      console.log(hours);
      console.log(hours <= 6 || hours >= 18);

      if (hours <= 6 || hours >= 18) {
        window.location.href = "../index.html";
      }
    }
    window.onload = checkTime;
  </script>
</head>
<body>
  <div>
    <img src="..\assets\images\slash.png" alt="Slash Logo">
    <h1>
      1372Slash
    </h1>
    <h3>
      We Are Here
    </h3>
    <p onclick="window.location.href = '../index.html';">
      Website work on progress <br /> Please be patient or you can <i>just break the code</i> or <b>waiting for the night</b>
    </p>
  </div>
</body>
</html>